.tictac {
  max-width: 400px;
  height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  width: calc(100% / 3 - 7px);
  height: calc(100% / 3 - 7px);
  cursor: pointer;
  font-size: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #426469;
  position: relative;

  &--finished {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.title {
  color: #426469;
  font-size: 24px;
  display: flex;
  align-items: center;

  & > span {
    font-size: 30px;
    margin-left: 10px;
    color: #426469;
  }

  @media (max-width: 1024px) {
    font-size: 22px;

    & > span {
      font-size: 28px;
    }
  }
}

.reset {
  width: 120px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: #426469;
  color: white;
  border-radius: 10px;
  opacity: 0.7;
  cursor: not-allowed;

  @media (max-width: 1024px) {
    width: 110px;
    font-size: 18px;
  }

  &--active {
    cursor: pointer;
    opacity: 1;
  }
}
